src/main/mule/salesorderfulfilllmentMain.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:salesforce-composite="http://www.mulesoft.org/schema/mule/salesforce-composite"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/salesforce-composite http://www.mulesoft.org/schema/mule/salesforce-composite/current/mule-salesforce-composite.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd">
	<flow name="sales_order_flow" doc:id="b11ca2f6-1918-4ebf-92e3-750e9f5f6942" >
		<scheduler doc:name="Scheduler" doc:id="c8e69f58-c1c5-452e-b0c8-7669f9cf6751" >
			<scheduling-strategy >
				<fixed-frequency frequency="30" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="jobRun" doc:id="ed8a10d2-fe7f-4b5c-93c0-0d58642468cc">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="jobRun"><![CDATA[%dw 2.0
import * from dw::core::Strings

// Function to extract the year from the date
fun year(date) =
  (date as DateTime).year
  
fun C_value(date) =
  floor((year(date) - 1900) / 100)

// Function to extract the day of the year from the date
fun dayOfYear(date) =
  (date as DateTime).dayOfYear

// Function to extract time from DateTime as a string, remove milliseconds and timezone, and select first 6 digits
fun extractTime(date) =
  do {
    var dateTimeStr = (date as String)
    var timePart = (dateTimeStr splitBy "T")[1] // Extract the time part after 'T'
    var timeWithoutMilliseconds = (timePart splitBy "\\.")[0] // Remove milliseconds
    var timeWithoutTimezone = (timeWithoutMilliseconds splitBy "\\+")[0] // Remove timezone
    var cleanTime = (timeWithoutTimezone replace ":" with "") // Remove colons
    ---
    cleanTime[0 to 5] // Select only the first 6 characters (HHmmss)
  }

// Function to compute the Julian date and time
fun JulianDate(date) =
  {
    // Julian date calculation: full year + day of year padded to 3 digits
    date: C_value(date) ++(year(date) as String)[2 to 3] ++ leftPad(dayOfYear(date), 3, "0"),
    
    // Julian time calculation: extract and format time
    time: extractTime(date)
  }

// Main output as JSON
output application/json  
---
JulianDate((now()) as DateTime >>  "America/New_York" )
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="jobRun logger" doc:id="be6909be-370e-4685-ac5a-fef996f64170" message='#[%dw 2.0&#10;output application/java&#10;---&#10;"&#10;CurrenntjobRunDetails : " ++ vars.jobRun.^raw]'/>
		<os:retrieve doc:id="6fc4f4c2-9ddf-4f29-9bbd-d42ecbe85864" key="previousSalesOrderJobRun" target="previousSalesOrderJobRun" doc:name="Retrieve :previousSalesOrderJobRun" objectStore="salesOrder_Object_store">
			<os:default-value><![CDATA[#[vars.jobRun]]]></os:default-value>
		</os:retrieve>
		<!-- [STUDIO:"static date code for testing-disable before actual deployment"]<ee:transform doc:name="static date code for testing-disable before actual deployment" doc:id="1b9771c6-2a29-4fa8-8272-9bbcbdf29347" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="previousSalesOrderJobRun" ><![CDATA[{
  "date": "125058",
  "time": "123918"
}&#93;&#93;></ee:set-variable>
			</ee:variables>
		</ee:transform> [STUDIO] -->
		<logger level="INFO" doc:name="Logger" doc:id="52a9ec5f-03e1-46f0-81e7-feb899f6e69f" message='#[%dw 2.0&#10;output application/java&#10;---&#10;"&#10;LastjobRunDetails : " ++ vars.previousSalesOrderJobRun.^raw]' />
		<flow-ref doc:name="SlaesOrderImplementationFlow" doc:id="8e6c5f07-ae7e-41dc-aaba-235a06a40913" name="SlaesOrderImplementationFlow" />
		<os:store doc:id="20362e6d-0d13-4d26-b652-a7f594c07671" key="previousSalesOrderJobRun" doc:name="Store current job run details" objectStore="salesOrder_Object_store">
			<os:value><![CDATA[#[vars.jobRun]]]></os:value>
		</os:store>
		<error-handler ref="global-error-handler" />
	</flow>
</mule>
